html {
  font-size: 62.5%;
  box-sizing: border-box; }

*, *:before, *:after {
  box-sizing: inherit; }

body, h1, h2, p {
  margin: 0;
  padding: 0;
  font-family: 'Secular One', sans-serif;
  font-size: 1.5rem;
  /*1rem = 16px*/ }

.bg-propio {
  background-color: #B68E56; }

.img-logo {
  height: 70px;
  width: 70px;
  border-radius: 100%;
  margin: 0px 40px; }

.nav-item {
  font-family: 'Secular One', sans-serif;
  font-size: 2.3rem;
  color: #ffffff;
  margin-right: 40px; }

.nav-item:hover {
  font-size: 2.6rem;
  transition: 0.7s; }

.custom-toggler.navbar-toggler {
  border: none;
  margin-right: 15px; }

.navbar-collapse {
  margin-left: 40px; }

.fondo-inicio {
  background-image: url(../fotos/back-inicio.jpg);
  background-size: cover;
  height: 90rem;
  position: relative; }

/* para poder hacer el sombreado */
.contenido-inicio {
  position: absolute;
  /* para poder hacer el sombreado */
  background-color: rgba(0, 0, 0, 0.3);
  /* para poder hacer el sombreado */
  height: 100%;
  width: 100%;
  display: flex;
  flex-direction: column;
  /*de arriba a abajo*/
  align-items: center;
  /*centrado horizontalmente*/
  padding-top: 10%; }

/*centrado de arriba abajo*/
.contenido-inicio h1 {
  color: #ffffff;
  font-weight: 300;
  font-size: 4rem; }

.contenido-inicio h2 {
  color: #ffffff;
  font-weight: 300;
  font-size: 3rem;
  text-align: center;
  font-family: 'Indie Flower', cursive; }

@media (max-width: 768px) {
  .fondo-inicio {
    background-image: url(../fotos/back-inicio.jpg);
    height: 75rem;
    position: static; }
  .contenido-inicio {
    position: static;
    background-color: rgba(0, 0, 0, 0.3);
    height: 100%;
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding-top: 10%; }
  .contenido-inicio h1 {
    font-size: 3rem;
    text-align: center;
    justify-content: center; }
  .contenido-inicio h2 {
    margin-top: 15px; } }

.main-productos {
  background-image: url(/fotos/back-general.jpg); }

.productos-encabezado {
  display: flex;
  flex-direction: column;
  /*texto de arriba a abajo, centrado en el medio*/
  background-color: #E6BE8A;
  padding: 10px; }

.productos-encabezado h1 {
  font-weight: 500;
  font-size: 4rem;
  text-align: center; }

.productos-encabezado p {
  font-weight: 600;
  font-size: 3rem;
  text-align: center;
  font-family: 'Indie Flower', cursive; }

.producto-contendor {
  display: flex;
  align-items: center;
  /*codigo parra el texto, dulce, salado*/
  justify-content: center;
  width: 100%; }

.productos-general h1 {
  font-weight: 500;
  font-size: 4rem;
  text-align: center;
  padding: 10px; }

.productos-general p {
  font-weight: 500;
  font-size: 3rem;
  text-align: center;
  padding: 10px;
  font-family: 'Indie Flower', cursive; }

.productos-grid {
  display: grid;
  grid-template-columns: repeat(3, 0fr);
  /*codigo para las imagenes, una al lado de la otra*/
  gap: 0;
  width: 100%;
  margin: 0 5px;
  justify-content: center; }

.productos-grid img {
  display: flex;
  width: 400px;
  height: 300px;
  padding: 0;
  margin: 0;
  padding-bottom: 10px; }

@media (max-width: 768px) {
  .main-productos {
    background-image: url(../fotos/back-general.jpg); }
  .productos-encabezado {
    align-items: center; }
  .productos-encabezado h1 {
    font-weight: 600;
    font-size: 3rem;
    margin-bottom: 10px; }
  .productos-encabezado p {
    font-weight: 800;
    font-size: 1.8rem;
    text-align: center; }
  .productos-general h1 {
    font-weight: 400;
    font-size: 3rem; }
  .productos-general p {
    font-weight: 800;
    font-size: 2rem;
    text-align: center;
    text-align: center; }
  .productos-grid {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 1rem; }
  .productos-grid img {
    border-radius: 10%; } }

.main-nosotros {
  background-image: url(/fotos/back-general.jpg); }

.contenido-nosotros {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  /*texto y a la misma linea la iamgen*/
  width: 100%;
  padding-top: 0px;
  padding-bottom: 0px; }

.contenido-nosotros img {
  width: 100%;
  height: auto;
  object-fit: cover; }

.text-nosotros {
  display: flex;
  flex-direction: column;
  justify-content: center; }

.text-nosotros h1 {
  text-align: center;
  font-weight: 600;
  font-size: 4rem;
  padding: 10px; }

.text-nosotros p {
  text-align: center;
  font-weight: 0;
  font-size: 2rem;
  padding: 10px; }

.text-nosotros-final h2 {
  text-align: center;
  font-size: 2.5rem;
  padding: 10px; }

@media (max-width: 768px) {
  .contenido-nosotros {
    grid-template-columns: repeat(1, 1fr); }
  .prueba {
    display: flex;
    flex-direction: column-reverse; }
  .text-nosotros h1 {
    font-weight: 400;
    font-size: 3rem; }
  .text-nosotros p {
    font-size: 1.7rem; }
  .text-nosotros-final h2 {
    font-size: 1.8rem; } }

.main-contactos {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  height: 100%; }

.form-contenedor {
  background-color: #f8de7e;
  height: 100%; }

.form-contenedor fieldset {
  border: none; }

.campos-general {
  display: flex;
  flex-direction: column;
  text-align: center; }

.campos-general legend h1 {
  font-size: 4rem;
  padding-top: 30px; }

.campos-general legend p {
  font-size: 2rem;
  border: none;
  font-family: 'Indie Flower', cursive; }

.campos-general label {
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 3rem;
  margin-top: 10px;
  padding-top: 3rem;
  font-family: 'Indie Flower', cursive; }

.campos-general input {
  border: none;
  height: 35px;
  width: 350px;
  margin-top: 10px; }

.campos-general textarea {
  border: none;
  height: 80px;
  width: 350px;
  margin-top: 10px; }

.enviar {
  border: none;
  margin-top: 10px;
  margin-bottom: 20px;
  cursor: pointer; }

.contenedor-map-publi {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background-image: url(/fotos/back-general.jpg); }

.map {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin: 1rem; }

@media (max-width: 768px) {
  .main-contactos {
    display: flex;
    flex-direction: column; }
  .form-contenedor fieldset {
    border: none; }
  .campos-general legend h1 {
    font-size: 3rem; }
  .campos-general legend p {
    font-size: 2rem; }
  .campos-general label {
    font-size: 2rem;
    padding-top: 2rem; }
  .card {
    margin-bottom: 15px; } }

.general-eventos {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  background-image: url(/fotos/back-general.jpg); }

.general-eventos h1 {
  text-align: center;
  font-weight: 600;
  font-size: 4rem;
  padding: 10px; }

.general-eventos p {
  text-align: center;
  font-weight: 800;
  font-size: 1.7rem;
  padding-bottom: 1rem;
  padding-left: 2rem;
  padding-right: 2rem;
  font-family: 'Indie Flower', cursive; }

footer {
  background-color: #E6BE8A;
  padding: 0px;
  padding-top: 0px;
  margin-top: 0px;
  position: sticky;
  bottom: 0;
  width: 100%; }

.footer-contenedor {
  display: flex;
  justify-content: space-between;
  padding: 0px; }

.footer-contenedor h4 {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: auto;
  margin: 5px 20px; }

.footer-contenedor ul {
  display: flex;
  justify-content: center;
  align-items: center;
  list-style: none;
  padding: 0px;
  margin: 5px 0px; }

.footer-contenedor li {
  margin: 5px 20px 0px 20px; }

.footer-contenedor ul, li, svg, path {
  color: #212121; }
