$background-img: url(/fotos/back-general.jpg);
$background-color-pri: #B68E56;
$background-color-sec:#E6BE8A;
$background-color-contactos:#f8de7e;
$background-color-oscuro:#212121;
$background-color-blanco: #ffffff;


